@model NhsWebDemo.Models.LocalUserModel

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid px-4">
    <div class="row">
        <div class="d-flex">
            <div>
            <button type="button" class="btn btn-primary ml-auto me-3" onclick="history.go(-1);"><i class="fas fa-arrow-left"></i> Back</button>
            </div>
                <h3>@Html.DisplayFor(model => model.name) (@Html.DisplayFor(model => model.organisation))</h3>
        </div>
            <h4>@Html.DisplayFor(model => model.service) (@Html.DisplayFor(model => model.location))</h4>
    </div>

    <div class="row">
    <!--Map-->
    <div class="col-xl-6 col-md-10">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-center">Map</h5>
            </div>
                <div class="card-body">            
                    <div id="mapDiv" style="width:100%;height:285px">
                    </div>
                </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Do Summat</a>
            </div>
        </div>
    </div>
    <!--Daily-->
    <div class="col-xl-auto col-md-auto">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-center">Daily</h5>
            </div>
                <div class="card-body">            
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.dailyAppointments) : @Html.DisplayFor(model => model.dailyAppointments)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.dailyAttended) : @Html.DisplayFor(model => model.dailyAttended)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.dailyCancelled) : @Html.DisplayFor(model => model.dailyCancelled)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.dailyNonCompliance) : @Html.DisplayFor(model => model.dailyNonCompliance)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.dailyLate) : @Html.DisplayFor(model => model.dailyLate)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.dailySafetyAlerts) : @Html.DisplayFor(model => model.dailySafetyAlerts)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.dailyMissingData) : @Html.DisplayFor(model => model.dailyMissingData)</li>
                    </ul>     
                </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Do Summat</a>
            </div>
        </div>
    </div>
    <!--Weekly-->
    <div class="col-xl-auto col-md-auto">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-center">Weekly</h5>
            </div>
                <div class="card-body">            
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.weeklyAppointments) : @Html.DisplayFor(model => model.weeklyAppointments)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.weeklyAttended) : @Html.DisplayFor(model => model.weeklyAttended)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.weeklyCancelled) : @Html.DisplayFor(model => model.weeklyCancelled)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.weeklyNonCompliance) : @Html.DisplayFor(model => model.weeklyNonCompliance)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.weeklyLate) : @Html.DisplayFor(model => model.weeklyLate)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.weeklySafetyAlerts) : @Html.DisplayFor(model => model.weeklySafetyAlerts)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.weeklyMissingData) : @Html.DisplayFor(model => model.weeklyMissingData)</li>
                    </ul>     
                </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Do I need</a>
            </div>
        </div>
    </div>
    <!--Monthly-->
    <div class="col-xl-auto col-md-auto">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-center" >Monthly</h5>
            </div>
                <div class="card-body">            
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.monthlyAppointments) : @Html.DisplayFor(model => model.monthlyAppointments)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.monthlyAttended) : @Html.DisplayFor(model => model.monthlyAttended)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.monthlyCancelled) : @Html.DisplayFor(model => model.monthlyCancelled)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.monthlyNonCompliance) : @Html.DisplayFor(model => model.monthlyNonCompliance)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.monthlyLate) : @Html.DisplayFor(model => model.monthlyLate)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.monthlySafetyAlerts) : @Html.DisplayFor(model => model.monthlySafetyAlerts)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.monthlyMissingData) : @Html.DisplayFor(model => model.monthlyMissingData)</li>
                    </ul>     
                </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">These Buttons</a>
            </div>
        </div>
    </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Area Chart Example
                </div>
                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Bar Chart Example
                </div>
                <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div>
        
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBO7gJ-7CFGmfOj5FrJJ_UzeKYn3CC4R48"></script> 
<script src="~/js/localUserMap.js"></script>